<h1>Order_report</h1>
<h1> DD orders </h1>

<% @one_day_D =0 %>
<% @two_days_D =0 %>
<% @more_days_D =0 %>
<% @one_day_S =0 %>
<% @two_days_S =0 %>
<% @more_days_S =0 %>


<% @fulfilled_in_n_days.each do |x| %>
  <% if x.flag_destination == 'D' %>
    <% if x.days == 1 %>
         <% @one_day_D+=x.fulfilled_in_n_days %>
    <% elsif x.days == 2 %>
         <% @two_days_D+=x.fulfilled_in_n_days %>
    <% else %>
         <% @more_days_D+=x.fulfilled_in_n_days %>
    <% end %>
  <% end %>

  <% if x.flag_destination == 'S' %>
    <% if x.days == 1 %>
         <% @one_day_S+=x.fulfilled_in_n_days %>
    <% elsif x.days == 2 %>
         <% @two_days_S+=x.fulfilled_in_n_days %>
    <% else %>
         <% @more_days_S+=x.fulfilled_in_n_days %>
    <% end %>
  <% end %>

<% end %>





<% @states.each do |x| %>

    <% if x.flag_destination == 'D' %>
			<div>
			      <table border:2px>
				   	<td><%= x.state %></td>
				   	<td><%= x.num %></td>
				   </table>
			</div>
    <% end %>
<% end %>

<h2> Missing Books:</h2><%= @result["missing_books_D"] %>
<h2> Fulfillment in </h2>
<h3> One Day </h3>
<%= @one_day_D %>   

<h3> two Day </h3>
<%= @two_days_D %>       	

<h3> more Day </h3>
<%= @more_days_D %>  




<h1> IBT orders </h1>
<% @states.each do |x| %>

    <% if x.flag_destination == 'S' %>
			<div>
			      <table border:2px>
				   	<td><%= x.state %></td>
				   	<td><%= x.num %></td>
				   </table>
			</div>
    <% end %>
<% end %>

<h2> Missing Books </h2>
<%= @result["missing_books_S"] %>


<h2> Fulfillment in </h2>
<h3> One Day </h3>
<%= @one_day_S %>   

<h3> two Day </h3>
<%= @two_days_S %>       	

<h3> more Day </h3>
<%= @more_days_S %>  



<div align = "center">
<h2> Cancellation of orders </h2>
<h2> By Member : </h2>
<%= @result["cancelled_by_member"] %>

<h2> By ops : </h2>
<%= @result["cancelled_by_ops"] %>
</div>



