<h2>Report</h2>

<%= nested_form_for @report, :url => { :action => "create" } do |f| %>
  <%= f.label :Description %>
  <%= f.text_field :description %>
  <%= f.fields_for :maintable do |mainobj| %>
    <%= mainobj.label :Table %>
    <%= mainobj.select(:table,options_for_select(@all_tables)) %>
  <% end %>
  <h1>Join Condition</h1>
  <%= f.fields_for :jointables do |joinobj| %>
    <%= joinobj.label :table1 %>
    <%= joinobj.select(:table1 , options_for_select(['table']),{},{:class => "table1"}) %>
    <%= joinobj.label :table2 %>
    <%= joinobj.select(:table2,options_for_select(['associated tables']),{},{:class =>"table2"}) %>
    <%= joinobj.label :table2 %>
    <%= joinobj.select(:whichjoin,options_for_select([["Inner Join","INNER JOIN"],["Left Outer Join","LEFT OUTER JOIN"],["Right Outer Join","RIGHT OUTER JOIN"]])) %>
    <%= joinobj.link_to_remove "Remove this Join" %>
  <% end %>
  <p><%= f.link_to_add "Add a Join", :jointables %></p>
  <h1>Where Condition</h1>
  <%= f.fields_for :wheretables do |whereobj| %>
    <%= whereobj.label :table_attribute %>
    <%= whereobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "table_attribute"}) %>
    <%= whereobj.label :r_operator %>
    <%= whereobj.select(:r_operator,options_for_select([["operator","operator"],[">",">"],["<","<"],
      ["!=","!="],["=","="],[">=",">="],["<=","<="]]),{},{:class =>"r_operator"}) %>
    <%= whereobj.label :expo_default_flag %>  
    <%= whereobj.select(:expo_default_flag,options_for_select([["No_Expose",0],["Expose_with_default_value" ,2],["Expose_without_default_value",1]]))%>  
    <%= whereobj.label :value %>
    <%= whereobj.text_field(:value , :value => 0) %>
    <%= whereobj.link_to_remove "Remove this where condition" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a where condition", :wheretables %></p>

 <h1>Group By Condition</h1>
<%= f.fields_for :grouptables do |groupobj| %>
    <%= groupobj.label :table %>
    <%= groupobj.select(:table_attribute , options_for_select(['table']),{},{:class => "table"}) %>
    <%= groupobj.label :table_attribute %>
    <%= groupobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "group_table_attribute"}) %>
    <%= groupobj.link_to_remove "Remove this group condition" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a group condition", :grouptables %></p>

  <h1>Having Condition</h1>
  <%= f.fields_for :havingtables do |havingobj| %>
      
    <%= havingobj.label :table_attribute %>
    <%= havingobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "having_table_attribute"}) %>
    <%= havingobj.label :Aggregate_Function %>
    <%= havingobj.select(:table_attribute , options_for_select(['aggregate_function']),{},{:class => "having_aggregate_function"}) %>
    <%= havingobj.label :r_operator %>
    <%= havingobj.select(:r_operator,options_for_select([["operator","operator"],[">","Greater than"],["<","Lesser"],
      ["!=","not_equal"],["=","equal"],[">=","g_than_e"],["<=","l_than_e"]]),{},{:class =>"r_operator"}) %>
    <%= havingobj.label :expo_default_flag %>  
    <%= havingobj.select(:expo_default_flag,options_for_select([["No_Expose",0],["Expose_with_default_value" ,2],["Expose_without_default_value",1]]))%>  
    <%= havingobj.label :value %>
    <%= havingobj.text_field(:value , :value => 0) %>
    <%= havingobj.link_to_remove "Remove" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a having condition", :havingtables %></p>
  <h1>Select Condition</h1>
  <%= f.fields_for :selecttables do |selectobj| %>
      
    <%= selectobj.label :table_attribute %>
    <%= selectobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "select_table_attribute"}) %>
    <%= selectobj.label :Aggregate_Function %>
    <%= selectobj.select(:table_attribute , options_for_select(['select_aggregate_function']),{},{:class => "select_aggregate_function"}) %>
    <%= selectobj.link_to_remove "Remove this select condition" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a select condition", :selecttables %></p>

  <h1>Order By</h1>
  <%= f.fields_for :ordertables do |orderobj| %>
      
    <%= orderobj.label :table_attribute %>
    <%= orderobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "order_table_attribute"}) %>
    <%= orderobj.label :DESC_ASCE %>
    <%= orderobj.select(:desc_asce , options_for_select([["DESC_ASCE",""],["Ascending","ASC"],["Descending","DESC"]]),{},{:class => "asc_des"}) %>
    <%= orderobj.label :expo_default_flag %>  
    <%= orderobj.select(:expo_default_flag,options_for_select([["No_Expose",0],["Expose_with_default_value" ,2],["Expose_without_default_value",1]]))%>
    <%= orderobj.link_to_remove "Remove this order by" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a order condition", :ordertables %></p>
  <%= f.submit "Submit"%>
<% end %>