  <%= nested_form_for @reportoperationobj, :url => { :action => "update" , :id => @id } do |f| %>
  <h1>Where Condition</h1>
  <%= f.fields_for :wheretables do |whereobj| %>
    <%= whereobj.label :table_attribute %>
    <%= whereobj.select(:table_attribute , options_for_select(@option),{},{:class => "wheretableatt"}) %>
    <%= whereobj.label :r_operator %>
    <%= whereobj.select(:r_operator,options_for_select([["operator","operator"],[">",">"],["<","<"],
      ["!=","!="],["=","="],[">=",">="],["<=","<="]]),{},{:class =>"r_operator"}) %>
    <%= whereobj.label :expo_default_flag %>  
    <%= whereobj.select(:expo_default_flag,options_for_select([["No_Expose",0],["Expose_with_default_value" ,2],["Expose_without_default_value",1]]))%>  
    <%= whereobj.label :value %>
    <%= whereobj.text_field(:value , :value => 0) %>

    <p>
    <%= whereobj.label :which_table %>
    <%= whereobj.select(:which_table , options_for_select([""] + @all_tables),{},{:class => "whichtable"}) %>
   
    <%= whereobj.label :which_field %>
    <%= whereobj.select(:which_field , options_for_select(["attributes"]),{},{:class => "whichfield"}) %>

    <%= whereobj.label :which_field_to_show %>
    <%= whereobj.select(:which_field_to_show , options_for_select(["attributes"]),{},{:class => "whichfieldtoshow"}) %>  
     
    <%= whereobj.label :label %>
    <%= whereobj.text_field(:label) %> 

    </p>



    <%= whereobj.link_to_remove "Remove this where condition" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a where condition", :wheretables %></p>

 <h1>Group By Condition</h1>
<%= f.fields_for :grouptables do |groupobj| %>
    <p><%= groupobj.label :table %>
    <%= groupobj.select(:table_attribute , options_for_select(@arr),{},{:class => "table"}) %>
    <%= groupobj.label :table_attribute %>
    <%= groupobj.select(:table_attribute , options_for_select(['attributes']),{},{:class => "group_table_attribute"}) %></p>
    <%= groupobj.link_to_remove "Remove this group condition" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a group condition", :grouptables %></p>

  <h1>Having Condition</h1>
  <%= f.fields_for :havingtables do |havingobj| %>
      
    <%= havingobj.label :table_attribute %>
    <%= havingobj.select(:table_attribute , options_for_select(@option),{},{:class => "having_table_attribute"}) %>
    <%= havingobj.label :Aggregate_Function %>
    <%= havingobj.select(:table_attribute , options_for_select(['aggregate_function']),{},{:class => "having_aggregate_function"}) %>
    <%= havingobj.label :r_operator %>
    <%= havingobj.select(:r_operator,options_for_select([["operator","operator"],[">",">"],["<","<"],
      ["!=","!="],["=","="],[">=",">="],["<=","<="]]),{},{:class =>"r_operator"}) %>
    <%= havingobj.label :expo_default_flag %>  
    <%= havingobj.select(:expo_default_flag,options_for_select([["No_Expose",0],["Expose_with_default_value" ,2],["Expose_without_default_value",1]]))%>  
    <p>
    <%= havingobj.label :value %>
    <%= havingobj.text_field(:value , :value => 0) %>
   
    
    <%= havingobj.label :which_table %>
    <%= havingobj.select(:which_table , options_for_select([""] + @all_tables),{},{:class => "havingwhichtable"}) %>
   
    <%= havingobj.label :which_field %>
    <%= havingobj.select(:which_field , options_for_select(["attributes"]),{},{:class => "havingwhichfield"}) %>

    <%= havingobj.label :which_field_to_show %>
    <%= havingobj.select(:which_field_to_show , options_for_select(["attributes"]),{},{:class => "havingwhichfieldtoshow"}) %> 
    <%= havingobj.label :label %>
    <%= havingobj.text_field(:label) %>  
    </p>

    <%= havingobj.link_to_remove "Remove" %>
  <% end %>

  
  <p><%= f.link_to_add "Add a having condition", :havingtables %></p>
  <%= f.submit "next publish" , :class=>"uptohaving"%>

  <% end %>